body {
    padding: 0;
    margin: 0 auto;

    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #282828;

    max-width: 1440px;
    box-shadow: 0 0 25px -5px grey;
}

*, *::afeter, *::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;

    margin: 0 auto;
}

/* Header */

.header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;

    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro__title {
    margin: 0;
    margin-bottom: 50px;

    max-width: 750px;

    font-size: 60px;
    line-height: 75px;
    font-weight: 100;
    text-align: center;
}

.intro__play {
    margin-bottom: 40px;
    padding: 0;

    background-color: transparent;
    border: none;
}

.intro__play:hover {
    opacity: 0.9;
    cursor: pointer;
}

.intro__btn {
    display: block;
    padding: 12px 50px;
    margin-bottom: 15px;

    border-radius: 3px;
    background-color: #ff6d6d;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.intro__note {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}

/* Sections */

.section__suptitle {
    text-transform: uppercase;
    color: #ff6d6d;
}

.section__title {
    margin: 0;
    margin-bottom: 40px;

    font-size: 40px;
    line-height: 50px;
    font-weight: inherit;
}

.section__title-dots {
    color: #ff6d6d;
}

.section__text {
    opacity: 0.66;
}

/* Unique section */

.unique {
    padding: 190px 0 170px;
    position: relative;
}

.unique::after {
    content: "";
    display: block;
    width: 40%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    background-color: #ececec;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='%23ff6d6d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0 50, 50 0, 50 50'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.8;
}

.unique .section__wrapper {
    max-width: 570px;
}

/* Features section */

.features {
    padding: 130px 0 170px;
    text-align: center;

    background-image: url(../img/features-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.features .section__suptitle {
    display: block;
}

.features__list {
    display: flex;
    margin-top: 85px;
}

.features__item {
    width: 33%;
    padding: 0 15px;
}